0.0.0.0:{$PORT} {
  git https://github.com/pietvanzoen/piet.space.git {
    path /site
    branch dist
    interval 300
    clone_args --depth=1
    then git clean -fd
  }

  root /site
  tls off
  log / stdout "{combined}"
  gzip
  errors stderr {
    404 404.html
  }

  rewrite /feed /feed.xml

  header / Cache-Control "max-age=30; public"
  header /audio Cache-Control "max-age=86400; public"
  header /stylesheets Cache-Control "max-age=86400; public"
}
